{% extends 'hotel_app/base.html' %}

{% load static %}

{% block title %} Blue-Jack Hotel & Spa | Booking {% endblock %}

{% block content %}

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'hotel_app/img/logo2.png' %}" alt=""></a>
                </div>
                <div class="nav-right">
                    <a href="#" class="primary-btn">Hello {{ request.user.username }}</a>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active"><a href="{% url 'booking' %}">Booking</a></li>
                        <li><a href="{% url 'rooms' %}">Rooms</a></li>
                        <li><a href="{% url 'feedback' %}">Feedback</a></li>                       
                      <!--   <li><a href="{% url 'blog' %}">News</a></li> -->
                        <li><a href="{% url 'logout' %}" style="color: #f9ad81; font-weight: bold;">Logout</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Area Section Begin -->
    <div class="hero-area set-bg other-page" data-setbg="{% static 'hotel_app/img/about_bg' %}.jpg">
    </div>
    <!-- Hero Area Section End -->

    <!-- Search Filter Section Begin -->
    

    <!-- Contact Section Begin -->
    <section style="margin-top: -140px;" class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-title">
                        <div class="section-title">
                            <span>a memorable holiday</span>
                            <h2>Booking form </h2>
                       <!--  </div>
                        <a href="#" class="primary-btn">Get Directions</a>
                    </div> -->
                </div>
            </div>
            {% if success %}
            <div class="uk-alert-success" uk-alert style="margin-bottom: 60px;">
                <a class="uk-alert-close" uk-close></a>
                <p style="color: #F9Ad81; font-weight: bold;"> {{success}}</p>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-lg-8">
                    <div id="booking" class="section" style="margin-top: -2px; margin-left: -75px; margin-bottom: 50px;"  >
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h2>Make your reservation</h2>
                        </div>
                        <form action="{% url 'submit_booking' %}" method="post">

                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Please enter your name" name="name" required="required">
                                <span class="form-label">Full name</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="date" id="arval_date" name="check_in" required>
                                        <span class="form-label">Check In</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="date" id="dep_date" name="check_out" required>
                                        <span class="form-label">Check out</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" type="Number" id="no_days" name="no_days" placeholder="Number of days" readonly required>
                                        <span class="form-label">No of days</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" required id="no_adult" name="no_adult" required="required">
                                            <option value="" selected hidden>no of adults</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Adults</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" id="room_type" name="room_type" required>
                                            <option value="" selected hidden>Room type</option>
                                            <option>Deluxe Suite </option>
                                            <option>Twin Room With Seaview </option>
                                            <option>Double Room </option>
                                            <option>Single Room </option>
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Room Type</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="email" placeholder="Enter your Email" name="email" required="required">
                                        <span class="form-label">Email</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="tel" placeholder="Enter your Phone Number" name="tel" required="required">
                                        <span class="form-label">Phone</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="price" placeholder="price" name="price" readonly required>
                                        <span class="form-label">Price</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="address" placeholder="Address" name="address"  required>
                                        <span class="form-label">Address</span>
                                </div>
                            </div>
                              </div>  
                            
                             <div class="form-btn">
                                <button class="submit-btn" disabled>Price = NGN<span id="spanprice" style="font-size: 16px;">0</span></button>
                            </div> </br>
                            <div class="form-btn">
                                <button class="submit-btn">Book Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-item">
                        <div class="footer-logo">
                            <a href="{% url 'index' %}"><img src="{% static 'hotel_app/img/logo2.png' %}" alt=""></a>
                        </div>
                        <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-item">
                        <h5>Newsletter</h5>
                        <div class="newslatter-form">
                            <input type="text" placeholder="Your Email Here">
                            <button type="submit">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-item">
                        <h5>Contact Info</h5>
                        <ul>
                            <li><img src="img/placeholder.png" alt="">1525 Boring Lane,<br />Los Angeles, CA</li>
                            <li><img src="img/phone.png" alt="">+1 (603)535-4592</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Rooms</a></li>
                            <li><a href="#">Facilities</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-lg-12 ">
                        <div class="small text-white text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> <!-- All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'hotel_app/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'hotel_app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/main.js' %}"></script>
    <script src="{% static 'hotel_app/js/jquery.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/countries.js' %}"></script>
    <script src="{% static 'hotel_app/js/booking.js' %}"></script>


    <script>
        $('.form-control').each(function () {
            floatedLabel($(this));
        });

        $('.form-control').on('input', function () {
            floatedLabel($(this));
        });

        function floatedLabel(input) {
            var $field = input.closest('.form-group');
            if (input.val()) {
                $field.addClass('input-not-empty');
            } else {
                $field.removeClass('input-not-empty');
            }
        }
    </script>

<!-- <script language="javascript">
    populateCountries("country", "state"); // first parameter is id of country drop-down and second parameter is id of state drop-down
</script> -->
</body>

{% endblock %}