{% extends 'hotel_app/base.html' %}

{% load static %}

{% block title %} Blue-Jack Hotel & Spa | Register {% endblock %}

{% block content %}

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'hotel_app/img/logo2.png' %}" alt=""></a>
                </div>
                <div class="nav-right">
                 <!--    <a href="#" class="primary-btn">Make a Reservation</a> -->
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'rooms' %}">Rooms</a></li>
                        <li ><a href="{% url 'feedback' %}">Feedback</a>
                            <ul class="drop-menu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="rooms.html">Rooms</a></li>
                                <li><a href="services.html">Services</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'blog' %}">News</a></li>
                        <li ><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Area Section Begin -->
    <div class="hero-area set-bg other-page" data-setbg="{% static 'hotel_app/img/about_bg' %}.jpg">
    </div>
    <!-- Hero Area Section End -->

    <!-- Search Filter Section Begin -->
    <section class="search-filter other-page-filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <form action="#" class="check-form">
                        <h4>Check Availability</h4>
                        <div class="datepicker">
                            <p>From</p>
                            <input type="text" class="datepicker-1" value="dd / mm / yyyy">
                            <img src="{% static 'hotel_app/img/calendar.png' %}" alt="">
                        </div>
                        <div class="datepicker">
                            <p>To</p>
                            <input type="text" class="datepicker-2" value="dd / mm / yyyy">
                            <img src="{% static 'hotel_app/img/calendar.png' %}" alt="">
                        </div> -->
                        <!-- <div class="room-quantity">
                            <div class="single-quantity">
                                <p>Adults</p>
                                <div class="pro-qty"><input type="text" value="0"></div>
                            </div>
                            <div class="single-quantity">
                                <p>Children</p>
                                <div class="pro-qty"><input type="text" value="0"></div>
                            </div>
                            <div class="single-quantity last">
                                <p>Rooms</p>
                                <div class="pro-qty"><input type="text" value="0"></div>
                            </div> -->
                        <!-- </div>
                        <div class="room-selector">
                            <p>Room</p>
                            <select class="suit-select">
                                <option>Eg. Master suite</option>
                                <option value="">Double Room</option>
                                <option value="">Single Room</option>
                                <option value="">Special Room</option>
                            </select>
                        </div>
                        <button type="submit">Go</button>
                    </form> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Search Filter Section End -->

    <!-- registration Section Begin -->
    <section style="margin-top: -140px;" class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-title">
                        <div class="section-title">
                            <span>a memorable holiday</span>
                            <h2>Sign In and Registration Form </h2>
                       <!--  </div>
                        <a href="#" class="primary-btn">Get Directions</a>
                    </div> -->
                </div>
            </div>
            {% if success %}
            <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p style="color: #F9Ad81; font-weight: bold;"> {{success}}</p>
            </div>
        {% endif %}
    </div>
</div>
</div>
</section>

<div class="mycontainer" id="mycontainer" style="margin-left: 120px; margin-top: -100px; margin-bottom: 10px">
    <div class="form-container sign-up-container">
        <form action="{% url 'user_registration' %}" method="post" class="myform">
            {% csrf_token %}
            <h2 class="myh1">Create Account</h1>
            <!-- <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div> -->
         <!--    <span>or use your email for registration</span> -->
            <input type="text" placeholder="Name" name="username" class="myinput" required="required" />
            <input type="email" placeholder="Email" name="email" class="myinput" required="required" />
            <input type="password" placeholder="Password" name="password1" class="myinput" required="required" />
            <button class="mybutton">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <i> <span style="color: red"> {{error}} </span> </i>
        <form action="{% url 'login_process' %}" method="post" class="myform">

            {% csrf_token %}
            <h2 class="myh1">Sign in</h1>
            <!-- <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div> -->
            <!-- <span>or use your account</span> -->
            <input type="text" placeholder="Email" name="username" class="myinput" required="required" />
            <input type="password" placeholder="Password" name="password1" class="myinput" required="required" />
            <a href="#">Forgot your password?</a>
            <button class="mybutton">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h2 class="myh1">Welcome Back!</h2>
                <p class="myp" style="font-weight: bold;">To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h2 class="myh1">Hello, Friend!</h1>
                <p class="myp" style="font-weight: bold;">Enter your personal details and start your journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

    <!-- registration Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-item">
                        <div class="footer-logo">
                            <a href="{% url 'index' %}"><img src="{% static 'hotel_app/img/logo2.png' %}" alt=""></a>
                        </div>
                        <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-item">
                        <h5>Newsletter</h5>
                        <div class="newslatter-form">
                            <input type="text" placeholder="Your Email Here">
                            <button type="submit">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-item">
                        <h5>Contact Info</h5>
                        <ul>
                            <li><img src="img/placeholder.png" alt="">1525 Boring Lane,<br />Los Angeles, CA</li>
                            <li><img src="img/phone.png" alt="">+1 (603)535-4592</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Rooms</a></li>
                            <li><a href="#">Facilities</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-lg-12 ">
                        <div class="small text-white text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> <!-- All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'hotel_app/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'hotel_app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'hotel_app/js/main.js' %}"></script>

    <script type="text/javascript">
        
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('mycontainer');

        signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

        signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
    </script>
</body>

{% endblock %}